.parentDiv {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.parentDiv > div:nth-child(1) img {
  justify-self: center;
  align-self: center;
  width: 34px;
  height: 34px;
  margin: auto;
}
