.mainDiv{
    text-align: left;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
    margin: 2rem 0;
}
.form1{
 justify-content: center;
 align-items: center ;
 margin:0 5%;
}
.form1>div{
    font-family: "Inter";
    width: 65%;
    /* border: 1px solid red; */
    margin: 0 auto;
}
#btn{
    width: 100%;
    background-color:#654de4;
    color: #fff;
    font: "Inter";
}
#urlLabel{
    margin-left: 17%;
}
.optSpan{
    color: grey;
}

@media all and (max-width:320px){
    .form1>div{
        font-family: "Inter";
        width: 98%;
        /* border: 1px solid red; */
        margin: 0 auto;
    }
    #urlLabel{
        margin-left: 6%;
    }
}
@media all and (min-width:321px) and (max-width:768px){
    .form1>div{
        font-family: "Inter";
        width: 98%;
        /* border: 1px solid red; */
        margin: 0 auto;
    }
    #urlLabel{
        margin-left: 0%;
    }
}