.mainDiv{
    text-align: left;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
}
.form1{
 justify-content: center;
 align-items: center ;
 margin:0 5%;
}
.form1>div{
    font-family: "Inter";
    width: 80%;
    /* border: 1px solid red; */
    margin: 0 auto;
}
#btn{
    width: 100%;
    background-color:#654de4;
    color: #fff;
    font: "Inter";
}
#urlLabel{
    margin-left: 10%;
}
.optSpan{
    color: grey;
}
